# Project Stage I - Task 3 - Part B
- Read the Enrichment data and displays them on a notebook.
### Francis Perez - Team 2

## Load Needed Imports

In [1]:
import pandas as pd
import numpy as np

### Load Data

In [2]:
#Load Employment Dataset
employment_dataset = pd.read_csv("..\..\..\data\EmploymentData_allhlcn201.csv")

### Show Enrichment Data

In [3]:
#Show employment 
employment_dataset.head(20)

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,...,Industry,Status Code,Establishment Count,January Employment,February Employment,March Employment,Total Quarterly Wages,Average Weekly Wage,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
0,US000,US,0.0,0,10,2020,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,"10,447,240","147,279,523","147,858,938","147,088,945","2,341,897,353,925","1,222",1.00,1.00
1,US000,US,0.0,1,10,2020,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,"61,014","2,838,417","2,839,463","2,857,289","56,666,068,074","1,532",1.00,1.00
2,US000,US,0.0,2,10,2020,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,"69,931","4,631,048","4,704,637","4,710,894","74,670,024,998","1,227",1.00,1.00
3,US000,US,0.0,3,10,2020,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,"171,065","14,520,838","14,657,450","14,681,375","195,835,097,606","1,030",1.00,1.00
4,US000,US,0.0,5,10,2020,1,Nation,NaN,U.S. TOTAL,...,"10 Total, all industries",NaN,"10,145,230","125,289,220","125,657,388","124,839,387","2,014,726,163,247","1,237",1.00,1.00
5,US000,US,0.0,5,101,2020,1,Nation,NaN,U.S. TOTAL,...,101 Goods-producing,NaN,"1,342,925","21,613,273","21,673,801","21,691,990","383,234,860,658","1,361",1.00,1.00
6,US000,US,0.0,5,1011,2020,1,Nation,NaN,U.S. TOTAL,...,1011 Natural resources and mining,NaN,"140,432","1,744,545","1,753,076","1,766,683","30,587,356,089","1,341",1.00,1.00
7,US000,US,0.0,5,1012,2020,1,Nation,NaN,U.S. TOTAL,...,1012 Construction,NaN,"843,829","7,199,298","7,229,832","7,271,981","116,105,506,696","1,235",1.00,1.00
8,US000,US,0.0,5,1013,2020,1,Nation,NaN,U.S. TOTAL,...,1013 Manufacturing,NaN,"358,664","12,669,430","12,690,893","12,653,326","236,541,997,873","1,436",1.00,1.00
9,US000,US,0.0,5,102,2020,1,Nation,NaN,U.S. TOTAL,...,102 Service-providing,NaN,"8,802,305","103,675,947","103,983,587","103,147,397","1,631,491,302,589","1,211",1.00,1.00
10,US000,US,0.0,5,1021,2020,1,Nation,NaN,U.S. TOTAL,...,"1021 Trade, transportation, and utilities",NaN,"1,950,157","27,543,119","27,279,639","27,192,854","355,208,431,963",999,1.00,1.00
11,US000,US,0.0,5,1022,2020,1,Nation,NaN,U.S. TOTAL,...,1022 Information,NaN,"193,016","2,876,350","2,933,068","2,883,167","100,015,080,701","2,655",1.00,1.00
12,US000,US,0.0,5,1023,2020,1,Nation,NaN,U.S. TOTAL,...,1023 Financial activities,NaN,"933,220","8,330,670","8,354,602","8,328,454","275,209,665,518","2,539",1.00,1.00
13,US000,US,0.0,5,1024,2020,1,Nation,NaN,U.S. TOTAL,...,1024 Professional and business services,NaN,"1,946,440","21,016,519","21,135,238","21,001,112","450,881,499,378","1,648",1.00,1.00
14,US000,US,0.0,5,1025,2020,1,Nation,NaN,U.S. TOTAL,...,1025 Education and health services,NaN,"1,802,658","23,303,254","23,486,894","23,349,022","302,553,451,951",995,1.00,1.00
15,US000,US,0.0,5,1026,2020,1,Nation,NaN,U.S. TOTAL,...,1026 Leisure and hospitality,NaN,"894,706","15,911,521","16,056,399","15,714,058","98,616,181,440",477,1.00,1.00
16,US000,US,0.0,5,1027,2020,1,Nation,NaN,U.S. TOTAL,...,1027 Other services,NaN,"872,745","4,515,907","4,545,342","4,485,661","46,143,932,966",786,1.00,1.00
17,US000,US,0.0,5,1029,2020,1,Nation,NaN,U.S. TOTAL,...,1029 Unclassified,NaN,"209,363","178,607","192,405","193,069","2,863,058,672","1,171",1.00,1.00
18,01000,01,0.0,0,10,2020,1,State,Alabama,Alabama -- Statewide,...,"10 Total, all industries",NaN,"132,569","1,976,243","1,986,963","1,983,835","25,095,139,892",974,1.00,1.00
19,01000,01,0.0,1,10,2020,1,State,Alabama,Alabama -- Statewide,...,"10 Total, all industries",NaN,"1,247","54,521","54,643","55,021","1,100,867,539","1,547",1.43,1.81

In [4]:
#show data shape for enrichment data
employment_dataset.shape

(62758, 21)

In [5]:
#Show dataframe stats
employment_dataset.dtypes

Area\nCode                                        object
St                                                object
Cnty                                             float64
Own                                                int64
NAICS                                              int64
Year                                               int64
Qtr                                                int64
Area Type                                         object
St Name                                           object
Area                                              object
Ownership                                         object
Industry                                          object
Status Code                                       object
Establishment Count                               object
January Employment                                object
February Employment                               object
March Employment                                  object
Total Quarterly Wages                             object
Average Weekly Wage                               object
Employment Location Quotient Relative to U.S.    float64
Total Wage Location Quotient Relative to U.S.    float64
dtype: object